.editor .itemBrowser {
    width: 25%;
    min-width: 320px;
	background-color: #222224;
	color: #ffffff;
    border-right: 2px solid #999999;
    padding: 10px 10px 10px 10px;
    margin: 0px;
    border-radius: 0px;
    display: none;
    float: left;
    position: fixed;
    top: 0px;
    height: 100%;
    overflow-y: scroll;
    z-index: 100;
    box-shadow: 3px 3px 3px 0px rgba(50, 50, 50, 0.4);
}

.itemBrowserOpen .itemBrowser {
    display: block;
}


.editor {
	width: 100%;
	min-width: 1200px;
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	background-color: #666666;
}
/* BACK BAR */
.backBar {
	width: 100%;
    background-color: #161616;
    color: #ffffff;
    margin: 0px 0px 0px 0px;
    padding: 5px 10px 5px 10px;
    text-align: left;
    font-size: 14px;
    cursor: pointer;
    border-bottom: 10px solid #999999;
}
/* SETTINGS BAR */
.settingsBar {
	width: 100%;
    display: inline-block;
    border-bottom: 10px solid #999999;
    border-left: none;
    border-right: none;
    margin: 0px 0px 0px 0px;
}
.settingsBar .info {
	width: 35%;
	height: 72px;
	float: left;
	padding: 6px 6px 6px 6px;
}
.settingsBar .info .infoContainer {
	height: 64px;
    border-radius: 10px;
    background-color: #ffffff;
    border: 2px solid #999999;
    padding: 4px 4px 4px 4px;
    /* box-shadow: inset 2px 2px 4px rgba(0,0,0, .2); */
}
.settingsBar .info input {
	width: 98%;
	background-color: transparent;
	font-size: 11px;
	color: #999999;
	border: none;
	padding: 1px;
	margin: 0px 0px 2px 10px;
}
.settingsBar .info .title {
	font-size: 10px;
	font-weight: bold;
}
.settingsBar .info .category {
	font-size: 10px;
	font-style: italic;
}
.mat-form-field {
	font-size: 12px;
	margin: 0px 0px 0px 0px;
}
.settingsBar .info .description {
	font-size: 10px;
}
.settingsBar .controls {
	width: 30%;
	height: 72px;
	float: left;
}
.settingsBar .controls .controlsContainer {
	width: 350px;
	margin: 0px auto 0px auto;
	border-radius: 10px;
	padding: 0px 10px 0px 10px;
}
.settingsBar .controls .controlsContainer .buttons {
	width: 60px;
	float: left;
}
.mat-accent .mat-slider-thumb,
.mat-accent .mat-slider-thumb-label,
.mat-accent .mat-slider-track-fill {
	background-color: #999 !important;
}
.settingsBar .controls input {
	width: 90px;
	background-color: #fff;
	font-size: 30px;
	text-align: center;
	color: #999999;
	border: 2px solid #999999;
	padding: 1px;
	margin: 20px 10px 0px 10px;
	padding: 0px 0px 2px 10px;
	display: block;
	float: left;
}
.settingsBar .controls .playButton,
.settingsBar .controls .stopButton {
	width: 50px;
    height: 50px;
    background-color: #FF0D3E;
    border-radius: 10px;
    border: 2px solid;
    font-size: 20px;
    color: #ffffff;
    display: block;
    text-align: center;
    margin: 9px 0px 0px 0px;
    padding: 9px 0px 0px 3px;
    /* box-shadow: 3px 3px 3px 0px rgba(50, 50, 50, 0.4); */
    cursor: pointer;
}
.settingsBar .controls .stopButton {
	font-size: 18px;
	margin: 9px 0px 0px 0px;
	padding: 10px 0px 0px 0px;
}
.settingsBar .controls .playButton:hover,
.settingsBar .controls .stopButton:hover {
	background-color: #999999;
    color: #ffffff;
    border-color: #ffffff;
}
.settingsBar .controls .controlsContainer .sliders {
	width: 210px;
	float: left;
	padding: 13px 10px 0px 10px;
}
.settingsBar .controls .controlsContainer .sliders .mat-slider-horizontal {
	height: 30px;
	width: 130px;
	display: block;
	float: left;
}
.settingsBar .controls .controlsContainer .sliders span {
	width: 70px;
	height: 30px;
	display: block;
	float: left;
	padding: 12px 0px 0px 0px;
	text-align: center;
	font-size: 14px;
}
.settingsBar .controls .controlsContainer .sliders .tempo,
.settingsBar .controls .controlsContainer .sliders .volume {
	width: 200px;
    color: #ffffff;
}
.settingsBar .controls .controlsContainer .sliders .tempo:after,
.settingsBar .controls .controlsContainer .sliders .volume:after {
	content: "";
	display: table;
	clear: both;
}
.loopButtonContainer {
	width: 60px;
	height: 72px;
	float: left;
	font-size: 30px;
	color: #ffffff;
	padding: 13px 0px 0px 0px;
	text-align: center;
}
.loopButtonContainer .loopButton {
	display: block;
	cursor: pointer;
}
.loopButtonContainer .loopButton.active {
	color: #FF0D3E;
}
.loopButtonContainer .loopButton.active:hover {
	color: #999999;
}
.settingsBar .editButtons {
	width: 35%;
	float: left;
	padding: 6px 0px 6px 0px;
}
.settingsBar .editButtons .saveButton,
.settingsBar .editButtons .deleteButton,
.settingsBar .measuresNavigator .measureButton {
	width: 40%;
	font-size: 12px;
	color: #ffffff;
	text-align: center;
	background-color: #FF0D3E;
	border-radius: 10px;
	border: 2px solid #999999;
	display: block;
	padding: 4px 4px 4px 4px;
	margin: 0px 5% 4px 5%;
	box-shadow: 3px 3px 3px 0px rgba(50, 50, 50, 0.4);
	float: left;
	cursor: pointer;
}
.settingsBar .editButtons .saveButton:hover,
.settingsBar .editButtons .deleteButton:hover,
.settingsBar .measuresNavigator .measureButton:hover,
.settingsBar .macroEditButtons .macroEditButton:hover,
.settingsBar .macroEditButtons .standardEditButton:hover {
	background-color: #999999;
    color: #ffffff;
    border-color: #ffffff;
}
.settingsBar .measuresInput {
	width: 15%;
	height: 72px;
	float: left;
	padding: 22px 0px 2px 0px;
	/* border-top: 2px solid #999999; */
	color: #ffffff;
}
.settingsBar .measuresInput .measureInputLabel {
	font-size: 14px;
	display: inline-block;
}
.settingsBar .measuresInput input {
	width: 30%;
	display: inline-block;
	text-align: center;
	border-radius: 6px;
	border: 2px solid #999999;
	font-size: 16px;
	color: #666666;
	padding: 2px 2px 2px 2px;
	box-shadow: inset 2px 2px 4px rgba(0,0,0, .2);
}
.settingsBar .measuresNavigator {
	width: 20%;
	height: 72px;
	float: left;
	padding: 22px 0px 0px 0px;
	color: #999999;
	text-align: center;
}
.settingsBar .measuresNavigator .measureButtons {

}
.settingsBar .measuresNavigator .measureButtons .measureButton {
	width: 28%;
	display: inline-block;
	float: none;
	margin: 0px 5% 0px 5%;
	font-size: 10px;
}
.settingsBar .measuresNavigator .currentMeasure {
	width: 20%;
	display: inline-block;
	margin: 0px;
}
.settingsBar .macroEditButtons {
	width: 20%;
	float: left;
}

.settingsBar .macroEditButtons .macroEditButton,
.settingsBar .macroEditButtons .standardEditButton {
	width: 90%;
	font-size: 12px;
	color: #999999;
	text-align: center;
	background-color: #ffffff;
	border-radius: 10px;
	border: 2px solid #999999;
	display: block;
	padding: 4px 4px 4px 4px;
	margin: 0px 5% 4px 5%;
	box-shadow: 3px 3px 3px 0px rgba(50, 50, 50, 0.4);
	cursor: pointer;
}

/* MACRO TRACK EDITOR */

.macroTrackEditor .trackFunctions:after {
	content: "";
	display: table;
	clear: both;
}

.macroTrackEditor .trackFunctions .trackFunctionsSpacer {
	width: 70px;
	float: left;
	display: block;
}

.macroTrackEditor .trackFunctions .trackFunctionsSpacer.open {
	width: 510px;
}

.macroTrackEditor .trackFunctions .trackFunction {
	width: 640px;
	height: 30px;
	float: left;
	color: #ffffff;
	text-align: left;
}

.macroTrackEditor .trackFunctions .trackFunction .measure-number {
	height: 30px;
    font-family: 'Righteous', cursive;
    font-size: 18px;
    background-color: #ffd740;
    color: #666666;
    margin: 0px 30px 0px 0px;
    padding: 0px 10px 0px 10px;
    border-right: 1px solid #cccccc;
    display: inline-block;
}

.macroTrackEditor .trackFunctions .trackFunction .btn-duplicate-measure,
.macroTrackEditor .trackFunctions .trackFunction .btn-delete-measure {
	font-size: 12px;
	cursor: pointer;
	margin: 0px 10px 0px 10px;
}

.macroTrackEditor .trackFunctions .trackFunction .btn-duplicate-measure:hover,
.macroTrackEditor .trackFunctions .trackFunction .btn-delete-measure:hover {
	color: #999999; 
}

.macroTrackEditor .trackControls .active {
	color: #F42B17;
}
.macroTrackEditor .tracks .track .trackItems .trackItem .trackLink:hover {
	border-color: #666666;
}
.macroTrackEditor .tracks .track .trackItems .trackItem .trackLink.playing {
	background-color: #84E88C;
}
.macroTrackEditor .tracks .track .trackItems .trackItem .trackLink.active {
	background-color: #ffd740;
    color: #fff;
    border-width: 2px;
    border-color: #ffffff;
}
.macroTrackEditor .tracks .track .trackItems .trackItem .trackLink.active.playing {
	background-color: #00F4F1;
	border: 2px solid #666666;
	transition: none;
}
.macroTrackEditor .addTrackButton {
	width: 30px;
	font-size: 30px;
	color: #ffffff !important;
	margin: 14px 10px 10px 20px;
	display: block;
	cursor: pointer;
}
.macroTrackEditor .addTrackButton:hover {
	color: #999999 !important;
}
.macroTrackEditor {
	width: 100%;
    position: absolute;
    top: 243px;
    left: 0px;
    overflow-x: scroll;
    background-color: #161616;
}
.macroTrackEditor .track {
	background-color: #222224;
    border-top: 4px solid #ffd740;
    border-left: none;
    border-right: none;
    padding: 0px;
    margin: 0px 0px 0px 0px;
}
.macroTrackEditor .track:last-of-type {
	border-bottom: 4px solid #999999;
}
.macroTrackEditor .trackVolume,
.macroTrackEditor .trackPan {
	width: 50%;
	float: left;
	font-size: 14px;
	line-height: 14px;
	color: #999999;
	text-align: center;
	padding: 0px 0px 0px 0px;
	cursor: pointer;
}
.macroTrackEditor .mat-slider-horizontal {
    height: 48px;
    min-width: 128px;
}
.macroTrackEditor .trackSettings {
	float: left;
}
.macroTrackEditor .trackSettings .top {
	width: 100%;
	height: 50px;
}
.macroTrackEditor .trackSettings .bottom {
	width: 100%;
	height: 50px;
	border-top: 4px solid #ffd740;
	border-right: 2px solid #999999;
}
.macroTrackEditor .track:after,
.macroTrackEditor .track .trackItems:after {
	content: "";
	display: table;
	clear: both;
}
.macroTrackEditor .trackInfo {
	width: 30px;
    height: 50px;
    float: left;
    font-family: 'Righteous', cursive;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    background-color: #FF0D3E;
    padding: 14px 0px 0px 0px;
    cursor: pointer;
}
.macroTrackEditor .trackName {
	width: 40px;
    height: 50px;
    background-color: #161616;
    overflow: hidden;
    float: left;
    font-size: 12px;
    color: #ffffff;
    border-right: 2px solid #999999;
}
.macroTrackEditor .trackName i {
	font-size: 22px;
	padding: 13px 12px 12px 12px;
	float: left;
	cursor: pointer;
}
.macroTrackEditor .trackName i:hover {
	color: #666666;
}
.macroTrackEditor .trackName .sampleName {
	float: left;
	padding: 15px 0px 0px 0px;
	cursor: pointer;
}
.macroTrackEditor .trackName .sampleName:hover {
	color: #666666;
}
.macroTrackEditor .trackName.open {
	width: 350px;
}
.macroTrackEditor .trackControls {
	width: 90px;
    height: 50px;
    background-color: #333333;
    float: left;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    border-right: 2px solid #999999;
    padding-top: 10px;
}
.macroTrackEditor .trackControls i {
	display: inline-block;
	margin: 0px 2px 0px 2px;
	cursor: pointer;
}
.macroTrackEditor .trackControls i:hover {
	color: #cccccc;
}
.macroTrackEditor .trackControls .fa-volume-up {
	display: inline-block;
}
.macroTrackEditor .trackControls .active .fa-volume-up {
	display: none;
}
.macroTrackEditor .trackControls .fa-volume-off {
	display: none;
}
.macroTrackEditor .trackControls .active .fa-volume-off {
	display: inline-block;
}
.macroTrackEditor .trackItems {
	float: left;
	height: 50px;
	background-color: #161616;
}
.macroTrackEditor .trackItems.open {
	height: 54px;
	border-bottom: 4px solid #ffd740;
}
.macroTrackEditor .track.selected {
	border-color: #F42B17;
}
.macroTrackEditor .track .trackItem {
	width: 40px;
	height: 50px;
	display: inline-block;
	padding: 12px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}
.macroTrackEditor .track .trackItem.measureBeat {
	border-left: 1px solid #cccccc;
}
.macroTrackEditor .track .trackItem.firstInMeasure {
	border-left: 4px solid #ffd740;
}
.macroTrackEditor .track .trackItem .trackLink {
	width: 25px;
    height: 25px;
    background-color: #333333;
    color: #999;
    border: 2px solid #999999;
    border-radius: 16px;
    display: block;
    margin: 0px auto 0px auto;
    cursor: pointer;
}
.macroTrackEditor .trackDelete {
	width: 40px;
    height: 50px;
    background-color: #FF0043;
    float: left;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    border-right: 2px solid #999999;
    padding-top: 10px;
}
.macroTrackEditor .trackDelete i {
	display: inline-block;
	margin: 0px 2px 0px 2px;
	cursor: pointer;
}
.macroTrackEditor .trackDelete:hover {
	color: #ffffff;
	background-color: #999999;
}
@media (max-width: 1200px) {
	
}
@media (max-width: 768px) {
	
}
