<div class="container">
  <h2>Add New Samples to Library</h2>
  <ol>
    <li>Generate the new-samples.json file
      <a href="/assets/new-patches-generator.php" target="_blank">new-patches-generator.php</a>.</li>
    <li>Run the addNewSamplesToLibrary function by clicking
      <button (click)="addNewSamplesToLibrary()">here</button>.</li>
  </ol>
  <h2>Rebuild Entire Samples Library</h2>
  <ol>
    <li>Generate the sample-library.json file by running the
      <a href="/assets/patch-library-json-generator.php" target="_blank">patch-library-json-generator.php</a>
    </li>
    <li>Run the rebuildSampleLibrary function by clicking
      <button (click)="rebuildSampleLibrary()">Rebuild Sample Library</button>
    </li>
  </ol>
  <h2>Create Item Browser Data</h2>
  <ol>
    <li>Rebuild item browser menu data by clicking
      <button (click)="createMenuArray()">Rebuild Item Browser Data</button>
    </li>
  </ol>
</div>