.loop-list {
    width: 90%;
    max-width: 1200px;
    margin: 50px auto 30px auto;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #ffffff;
}

.loop-list a {
    color: #ffd740;
}

.loop-list h1 {
    font-family: 'Righteous', cursive;
    font-size: 35px;
    color: #ffffff;
}

.loop-list h2 {
    font-family: 'Righteous', cursive;
    font-size: 25px;
    color: #ffffff;
}

.loop-list .loop-about {
    width: 100%;
    max-width: 800px;
    margin: 0px 0px 50px 0px;
}

.loop-list .loop-projects {
    width: 100%;
    background-color: #161616;
    border-radius: 10px;
    border: 2px solid #999999;
    padding: 20px 20px 20px 20px;
    box-shadow: 3px 3px 3px 0px rgba(50, 50, 50, 0.4);
}

.loop-list .loop-projects .create-new-project-btn {
    width: 50%;
	font-size: 20px;
	color: #ffffff;
    text-align: center;
    text-decoration: none;
	background-color: #FF0047;
	border-radius: 10px;
	border: 2px solid #999999;
	display: block;
	padding: 4px 4px 4px 4px;
	margin: 30px 0px 30px 0px;
	box-shadow: 3px 3px 3px 0px rgba(50, 50, 50, 0.4);
	cursor: pointer;
}

.loop-list .loop-projects .create-new-project-btn:hover {
	background-color: #999999;
    color: #ffffff;
    border-color: #ffffff;
}

.loop-list .loop-projects .loop-items {

}

.loop-list .loop-projects .loop-items .loop-item {
    width: 100%;
    font-size: 12px;
    color: #ffd740;
    border-bottom: 2px solid #cccccc;
    margin: 0px 0px 10px 0px;
    padding: 4px 0px 4px 0px;
}

.loop-list .loop-projects .loop-items .loop-item:last-of-type {
    border-bottom: none;
}

.loop-list .loop-projects .loop-items .loop-item:after {
    content: "";
    display: table;
    clear: both;
  }

.loop-list .loop-projects .loop-items .loop-item h4 {
    width: 80%;
    display: block;
    padding: 10px 0px 0px 0px;
    float: left;
}

.loop-list .loop-projects .loop-items .loop-item h4 a {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #ffd740;
    display: block;
    text-decoration: none;
    text-align: left;
    cursor: pointer;
}

.loop-list .loop-projects .loop-items .loop-item h4 a:hover {
    color: #999999;
    text-decoration: none;
}

.loop-list .loop-projects .loop-items .loop-item .loop-icon-item {
    width: 10%;
    float: left;
    font-size: 25px;
    text-align: center;
    color: #ffd740;
    cursor: pointer;
}

.loop-list .loop-projects .loop-items .loop-item .loop-icon-item:hover {
    color: #999999;
}

